body{
    margin :0;
    background:white;
    
    
}
img{max-width: auto;max-height:auto;}

code {
    color: black; /* 将文字颜色设置为黑色，与白色背景对比明显 */
    border: 1px solid #ccc;
    padding: 10px; /* 保持与 <pre> 元素的内边距一致 */
    display: inline-block;
    background-color: white; /* 将背景色设置为白色 */
}

pre {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    overflow-x: auto;
}
  